<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>drawpro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAB2B4F31EAA4BFE0005DC66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB2B5071EAA4BFF0005DC66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB2B5121EAA4BFF0005DC66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
